<p><strong>Company:</strong> <%= @application.company %></p>
<p><strong>Position:</strong> <%= @application.position %></p>
<p><strong>Remote:</strong> <%= @application.remote %></p>

<%= link_to 'Update', edit_application_path(@application), :class => "btn action" %>

<h2>Events</h2>

<ul>
  <%= render @application.events %>
</ul>

<h2>Add an event</h2>

<%= render 'events/form' %>
<%= link_to 'Back', applications_path, :class => "btn action" %>
