<h1><%= @application.position %> @ <%= @application.company %></h1>

<%= link_to 'Back to Applications', applications_path, :class => "btn action" %>

<p><strong>Agency:</strong> <%= @application.agency %></p>
<p><strong>Remote:</strong> <%= @application.remote %></p>
<p><strong>Notes:</strong> <%= @application.notes %></p>
<%= link_to 'Update', edit_application_path(@application), :class => "btn action" %>

<h2>Events</h2>

<ul>
  <li><span class="event-data">Event</span><span class="event-notes">Notes</span></li>
  <%= render @application.events %>
</ul>

<h2>Add an event</h2>

<%= render 'events/form' %>
