<%= form_with(model: [@application, @application.events.build], local: true) do |form| %>
  <p>
    <%= form.label :event %>
    <%= form.select :event, %w[application referral appointment comment interview communication technical_test offer rejection] %>
  </p>
  <p>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </p>
  <p>
    <%= form.label :notes %>
    <%= form.text_area :notes, :rows => 10, :cols => 80 %>
  </p>

  <p>
    <%= form.submit :class => "btn action" %>
  </p>
<% end %>